<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" style="color-scheme: light dark;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    
    <!-- Plausible -->
    <script async src="https://plausible.io/js/pa-VvWA4UZEvbmAYnAdWTORl.js"></script>
    <script>
      window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
      plausible.init()
    </script>
  </head>
  <body class="flex flex-col font-serif items-center text-left text-md">
    <div class="flex flex-col gap-8 max-w-3xl mx-auto p-8">
      {% include header.html %}
      <div class="flex flex-col gap-4">
        {{ content }}
      </div>
    </div>
  </body>
</html>
